.social {
    padding: 0.31rem !important;
}

.sharer-btn {
    color: var(--primary-color) !important;
}

#demotext {
    color:  var(--bs-light) !important;
    background: var(--secondary-color) !important;
    text-shadow: var(--bs-light) 0px 0px 5px,var(--bs-light) 0px 0px 10px, var(--bs-light) 0px 0px 15px, var(--primary-color) 0px 0px 20px, var(--primary-color) 0px 0px 30px, var(--primary-color) 0px 0px 40px, var(--primary-color) 0px 0px 50px, var(--primary-color) 0px 0px 75px;
    color: var(--bs-light) !important;
    background: var(--secondary-color) !important;
}

#redarea {
    border-top: 0.2rem solid var(--primary-color) !important;
}