.navbar-container {
    padding-top: 1.25rem !important;
} 

.bgimg{
    background-image: url('../images/navbar/background_image.png') !important;
    background-position: center center !important;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
}

/*NAVBAR BRAND*/
.navbar-item {
    position: relative !important;
    padding: 0 1.5rem 0 1.5rem !important;
}

.navbar-item > .active,.navbar-item > a:hover {
    border-bottom: 0.175rem solid var(--primary-color) !important;
}


.btn-signup {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.btn-signup:hover{
    background-color: #DA0037 !important;
}

.logo {
    width: 100% !important;
    height: auto !important;
}
.card2{
    padding: 0 1.56rem 0 1.56rem;
}
.titleof-card{
    margin:2.5rem 0 2.15rem 0;
}
.form-card{
   
    box-shadow:0 0 5px 0;
    background: initial;
    backdrop-filter: blur(70px);
    border-radius: 4%;
    color: #ffffff !important;
   float: right;
   margin-top: 190px;
}
.bgimg h3{
    color: var(--primary-color);
    font-weight: bold;
}
.btn-hire{
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
    margin: 1.6rem 0 2.8rem 0;
    width: 100%;
}
.glass-effect{
   
    background: initial;
    backdrop-filter: blur(50px);
    text-align: center;
   
}
.form-ip{
    background-color:grey;
    width: 40%; 
}



@media (max-width: 576px){

   .brand {
        flex-basis: 60% !important;
    }

}
