@import 'variables.css';

:root{
   
    font-size: 20px;
}


.wsohm{
    background-color: var(--secondary-color);

    
}

.wsohm .heading{
    color: var(--primary-color);
    font-weight: 600;
    padding: 2rem;
    font-size: 2rem;
    
}

.wsohm .scroll-view{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    
}


.card-title{
    color: var(--primary-color);

}

.card-img-top{
    padding: 35px;
}

.card{
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 4px solid red;
    background-color: var(--secondary-color);
}

.card-text{
    color: white;
}



@media(max-width:541px){
    .wsohm .scroll-view{
        flex-direction: column;
    }

    .wsohm .heading{
     
        padding: 1.2rem;
        font-size: 1.2rem;
        
    }
    .card{
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
}

@media (max-width:1000px) and (min-width:541px){
    .wsohm .scroll-view{
        flex-direction: row;
    }

    .card{
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    .card-img-top{
        padding: 15px;
    }
}