.wsohm{
    background-color: var(--secondary-color);
    width: 100% !important;
}

.wsohm-heading{
    color: var(--primary-color);
    font-weight: 600;
    padding: 2rem;
}

.wsohm-scroll-view{
    justify-content: center;
}

.wsohm-card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-clip:border-box;
    border-radius: 10px;
    border: 4px solid red;
    background-color: var(--secondary-color);
}

.wsohm-card-img{
    width:100%;
    align-self: center;
    border-radius: 15px;
    margin: 32px 10px;
    width: 80%;
    height: 80%;
}

.wsohm-card-body{
    flex:1 1 auto;
    padding:1rem 1rem;
}

.wsohm-card-title{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0px 0px;
}

.wsohm-card-text{
    color: white;
}


