:root {
    --primary-color: #ff0000;
    --secondary-color: #000000;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.square {
    color: var(--bs-light);
    background-color:var(--primary-color) !important;
    position: relative;
    max-width: 13rem;
    margin: 0.183rem;
    padding:0;
    border-radius: 0.5rem !important;
}

.square:hover {
    color: var(--bs-light);
    opacity: 0.7;
}

.square::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.square .content {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-primary {
    border-width: 0.2rem !important;
    border-color: var(--primary-color) !important;
}

.help-input {
    text-align: center;
    background-color: var(--secondary-color) !important;
    border: 0.2rem solid var(--primary-color) !important;
    color: var(--bs-light) !important;
    border-radius: 0.5rem 0 0 0.5rem !important;
}

.help-input:focus {
    box-shadow: none;
}

.help-input::placeholder {
    color: var(--bs-light) !important;
}

.help-input-text {
    color: var(--bs-light);
    background-color: var(--primary-color);
    border: 0.2rem solid var(--primary-color) !important;
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

.accordion-help {
    color: var(--bs-light);
}

.accordion-help .accordion-item {
    background-color: var(--primary-color);
    border: 0.2rem solid var(--primary-color);
    margin-bottom: 1rem;
    border-radius: 0.5rem !important;
}

.accordion-help  .accordion-body {
    background-color: var(--secondary-color) !important;
}

.accordion-help .accordion-button {
    color: var(--bs-light) !important;
    background-color: var(--primary-color) !important;
}

.accordion-help .accordion-button:focus {
    box-shadow: none;
}

.accordion-help .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23%66%66%66'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


.dropdown-item:active {
    background-color: var(--primary-color);
}