:root {
    --primary-color: #ff0000;
    --secondary-color: #000000;
}

:root{
   font-size: 20px;
}

body{
    margin: 0px 0px;
}

.wsohm{
    background-color: var(--secondary-color);
    width: 100vw;
}

.wsohm-heading{
    color: var(--primary-color);
    font-weight: 600;
    padding: 2rem;
    font-size: 2rem;
}

.wsohm-scroll-view{
    width: revert;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
}

.wsohm-card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-clip:border-box;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border: 4px solid red;
    background-color: var(--secondary-color);
}

.wsohm-card-img{
    width:100%;
    align-self: center;
    border-radius: 15px;
    margin: 32px 10px;
    width: 80%;
    height: 80%;
}

.wsohm-card-body{
    flex:1 1 auto;
    padding:1rem 1rem;
}

.wsohm-card-title{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin: 0px 0px;
}

.wsohm-card-text{
    color: white;
}


@media(max-width:541px){
    .wsohm-scroll-view{
        flex-direction: column;
    }

    .wsohm-heading{
     
        padding: 1.2rem;
        font-size: 1.2rem;
        
    }
    .wsohm-card{
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
}

@media (max-width:1000px) and (min-width:541px){
    .wsohm-scroll-view{
        flex-direction: row;
    }

    .wsohm-card{
        border-radius: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }
    .wsohm-card-img{
        padding: 15px;
    }
}