:root{
    --primary-color:#FF0000;
    --secondary-color:#000000;
}
body{
    padding-top: 20px;
    background-color: var(--secondary-color);
   
}
.container-fluid{
    padding-top: 20px;
    margin: 0%;
    
}
.form-container{
    position: inherit;
    background-image: url('/Images/Navbar_Images/background_image.png');
    background-size: 100% 100%;
    width: 100%;
height: 680px;

}
/*NAVBAR BRAND*/


.nav-item{
    margin: 0 25px 0 25px;
}
.button{
    background-color: var(--primary-color);
    color: #ffffff;
}
.button:hover{
    background-color: #DA0037;
}
.mi-auto{
    margin-left: auto !important;
}
@media(max-width:425px){
    .bgimg{
    height:666 px;
    width: 400px;
    }
}

